.sorting_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #737373;
}
.rangeType{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.sortingrangearea{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.sorting_container button{
    background-color: black;
    color: white;
    border-radius: 5%;
    height: 40px;
}
.rangeVertical{
    border: 1px solid black;
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     width: 60px;
    height: 140px;
    background-color: #737373;
    overflow: hidden;
}
.rangeVertical input{
    flex-grow: 1;
    width: 100px;
   
   
}
.rangeVertical div{
    text-align: center;
}
.sortingarea{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:rgb(233, 233, 240) ;
}
.toggle{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 13px;
    padding: 0px;
    border-radius: 30px;
        
       
            
}
.toggleHelper{
    cursor: pointer;
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #1a75ff;
    top: -2px;
    transition: all 0.5s;
}
.toggle input{
        display: none;
}